<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnia</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <ul id="sidebar">
                <li>
                    Account
                </li>
                <li>
                    Search
                </li>
                <li>
                    New Adventure
                </li>
                <li>
                    My Shows
                </li>
                <li>
                    Recommendations
                </li>
                <li>
                    About Omnia DAS
                </li>
                <li>
                    Help
                </li>
            </ul>
        </div>
        <div class="non-navbar">
            <div class="tiptop">
                <div class="title">
                    <header id="name_omnia">
                        Omnia DAS
                    </header>
                </div>
                <div class="login">
                    <button type="button" id="login">Login</button>
                    <button type="button" id="sign-up">Sign Up</button>
                </div>
            </div>
            <div class="body">
                <div class="Who">
                    <h3 id="Whowe">
                        Who Is OMNIA DAS?
                    </h3>
                    <h5 id="omnia-des">
                        <strong id="big">OMNIA</strong>
                    </h5>
                    <p id="omnia-descrip">
                        In English, OMNIA translates roughly to all. This app was started as a way to keep track of <em>all</em> of the shows watched by people everywhere.
                    </p>
                    <h5 id="d-des">
                        <strong id="big">D</strong>J
                    </h5>
                    <p id="who-descrip">
                        DJ is the team's main back-end engineer, and has taken the idea started by <a href="#s-des">Solomon</a> and made it a reality.
                    </p>
                    <h5 id="who-des">
                        <strong id="big">A</strong>lton
                    </h5>
                    <p id="who-descrip">
                        Alton is the team's main front-end engineer. He has designed the entire website and has contributed heavily to the release of the website.
                    </p>
                    <h5 id="s-des">
                        <strong id="big">S</strong>olomon
                    </h5>
                    <p id="who-descrip">
                        Solomon is team lead. He came up with the idea for the app and designed the original layout of the website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>